@using ZolikyWeb.Tools
@model ZolikyWeb.Areas.App.Models.Main.DashboardModel

<div class="card-header">
	<div class="card-actions">
		<a class="" data-action="collapse">
			<i class="ti-minus"></i>
		</a>
		<a class="btn-minimize" data-action="expand">
			<i class="mdi mdi-arrow-expand"></i>
		</a>
		<a class="btn-close" data-action="close">
			<i class="ti-close"></i>
		</a>
	</div>
	<h4 class="card-title m-b-0">Žebříček - @Model.ClassName</h4>
</div>
<div class="card-body b-t collapse show">
	<table class="table v-middle no-border">
		<tbody>
			@foreach (var student in Model.LeaderboardClass) {
				<tr>
					<td>
						<img src="@Url.GetProfilePhotoUrl(student.ID)" class="img-circle img-profile-leaderboard" alt="Profilový obrázek">
					</td>
					<td>@student.FullName</td>
					<td align="right">
						<span class="label label-light-info" data-toggle="tooltip" data-placement="bottom" title="Počet žolíků">@student.ZolikCount</span>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>