<div class="card-header">
	<div class="card-actions">
		<a class="" data-action="collapse">
			<i class="ti-minus"></i>
		</a>
		<a class="btn-minimize" data-action="expand">
			<i class="mdi mdi-arrow-expand"></i>
		</a>
		<a class="btn-close" data-action="close">
			<i class="ti-close"></i>
		</a>
	</div>
	<h4 class="card-title m-b-0">Dokončené stránky</h4>
</div>
<div class="card-body b-t collapse show">
	<ul>
		<li>
			<span class="badge badge-info">NOVÉ</span>
			Přehled
		</li>
		<li>Žolíci</li>
		<li>Transakce</li>
		<li>Achievementy</li>
		<li>Novinky</li>
		<li>Oznámení</li>
		<li>Darovat žolíka</li>
		<li>Rozklad jokérů</li>
		<li>Historie přihlášení</li>
		<li>Tutoriál: Mobilní aplikace</li>
		<li>
			Nastavení:
			<ul>
				<li>Změna profilového obrázku</li>
				<li>Změna hesla</li>
				<li>Soukromí</li>
				<li>Oznámení</li>
				<li>Externí přihlašování</li>
				<li>Testeři</li>
				<li>Informace</li>
			</ul>
		</li>
		<li>Odhlašování</li>
	</ul>
</div>