@model ZolikyWeb.Areas.Admin.Models.Admin.SettingsModel

@{
	ViewBag.Title = "Nastavení";
	Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
	<!-- Column -->
	<div class="col-lg-3 col-md-6">
		@Html.Partial("SettingsPartials/_GlobalSettingsPartial", Model.ProjectSettings)
	</div>
</div>