@using ZolikyWeb.Tools
@model ZolikyWeb.Areas.Admin.Models.Admin.DashboardModel
@{
	ViewBag.Title = "Přehled";
	Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
	<!-- Column -->
	<div class="col-lg-3 col-md-6">
		@Html.Partial("Partials/_SendMobileNotPartial", Model.SendMobileNot)
	</div>
	<!-- /Column -->
	<!-- Column -->
	<div class="col-lg-3 col-md-6">
		@Html.Partial("Partials/_SendNotificationsPartial", Model.SendNotifications)
	</div>
	<!-- /Column -->
	<!-- Column -->
	<div class="col-xlg-3 col-lg-4 col-md-5">
		<div class="card">
			<div class="card-header">
				<div class="card-actions">
					<a class="" data-action="collapse">
						<i class="ti-minus"></i>
					</a>
					<a class="btn-minimize" data-action="expand">
						<i class="mdi mdi-arrow-expand"></i>
					</a>
					<a class="btn-close" data-action="close">
						<i class="ti-close"></i>
					</a>
				</div>
				<h4 class="card-title m-b-0">Dokončené stránky</h4>
			</div>
			<div class="card-body b-t collapse show">
				<ul>
					<li>Přehled</li>
					<li>
						Uživatelé:
						<ul>
							<li>Přehled</li>
							<li>Blokace</li>
						</ul>
					</li>
					<li>
						Školy:
						<ul>
							<li>Přehled</li>
							<li>Vytvoření</li>
							<li>Detaily</li>
						</ul>
					</li>
					<li>Nastavení</li>
					<li>Odhlašování</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- /Column -->
</div>