@using ZolikyWeb.Tools
@model ZolikyWeb.Areas.Admin.Models.Admin.DashboardModel
@{
	ViewBag.Title = "Přehled";
	Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
	<!-- Column -->
	<div class="col-lg-3 col-md-6">
		@Html.Partial("Partials/_SendMobileNotPartial", Model.SendMobileNot)
	</div>
	<!-- /Column -->
	<!-- Column -->
	<div class="col-lg-3 col-md-6">
		@Html.Partial("Partials/_SendNotificationsPartial", Model.SendNotifications)
	</div>
	<!-- /Column -->
</div>