@model ZolikyWeb.Areas.Global.Models.Admin.SettingsModel

@{
	ViewBag.Title = "Nastavení";
	Layout = "~/Areas/Global/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
	<!-- Column -->
	<div class="col-lg-3 col-md-6">
		@Html.Partial("SettingsPartials/_GlobalSettingsPartial", Model.ProjectSettings)
	</div>
</div>


@section header {
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" integrity="sha256-siyOpF/pBWUPgIcQi17TLBkjvNgNQArcmwJB8YvkAgg=" crossorigin="anonymous" />
}

@section footer{
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js" integrity="sha256-4iQZ6BVL4qNKlQ27TExEhBN1HFPvAvAMbFavKKosSWQ=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" integrity="sha256-bqVeqGdJ7h/lYPq6xrPv/YGzMEb6dNxlfiTUHSgRCp8=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/locales/bootstrap-datepicker.cs.min.js" integrity="sha256-pbW7ult8QcDlimj+JQplrsCieqCvQ/8VGr7ZdTuev8c=" crossorigin="anonymous"></script>
	<script type="text/javascript">
		$(() => {
			$.validator.methods.date = function(value, element) {
				return this.optional(element) || moment(value, "DD.MM.YYYY", true).isValid();
			}
		});

		$(() => {
			$("[data-type='date']").datepicker({
				clearBtn: true,
				language: "cs",
				format: "dd.mm.yyyy",
				autoclose: true,
				daysOfWeekHighlighted: "0,6"
			});
		});
	</script>
}