@model List<DataAccess.Models.News>
@{
	ViewBag.Title = "Novinky";
	Layout = "~/Areas/App/Views/Shared/_LayoutMenu.cshtml";
}


<div class="row">
	<div class="col">
		<div class="card">
			<div class="card-body">
				<div class="news">
					@foreach (var news in Model.Take(3)) {
						<div class="news-content">
							<div class="news-title">
								<div class="row justify-content-around ">
									<div class="col">
										<h4>@news.Title</h4>
									</div>
									<div class="col text-right">
										<span>@news.Created.ToString("dd.MM.yyyy")</span>
									</div>
								</div>
								<span class="news-author text-muted">Autor: @news.Author.FullName</span>
								<hr />
							</div>
							<div class="news-body mt-4">
								@Html.Raw(news.Message)
							</div>
						</div>
					}
				</div>
			</div>
		</div>
	</div>
</div>