@{
	ViewBag.Title = "Odstranit účet";
	Layout = "~/Areas/App/Views/Shared/_LayoutMenu.cshtml";
}

<div class="row">
	<div class="col">
		<div class="card">
			<div class="card-body">
				<p>Připravujeme</p>
			</div>
		</div>
	</div>
</div>