@{
	ViewBag.Title = "IOS";
	Layout = "~/Views/Shared/Mobile/_LayoutMobile.cshtml";
}

<div class="row form-group justify-content-center">
	<div class="col-auto">
		<i class="fab fa-app-store-ios fa-2x"></i>
	</div>
	<div class="col-auto text-center">
		<h4>App store</h4>
	</div>
</div>

<div class="text-center">

	<div class="row form-group border-bottom">
		<div class="col">
			<h5>Pracujeme na vlastní IOS aplikaci</h5>
		</div>
	</div>

	<div class="row form-group">
		<div class="col">
			<p>Vydání aplikace na Apple App Store však stojí 99USD (cca 2 100Kč) za 1 rok a tolik bohužel nemáme :-(</p>
			<div class="accordion mt-1" id="Collapse">
				<div class="card">
					<div class="card-header" id="headerOne">
						<h5 class="mb-0">
							<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
								Jak mohu pomoci?
							</button>
						</h5>
					</div>
					<div id="collapseOne" class="collapse" aria-labelledby="headerOne" data-parent="#Collapse">
						<div class="card-body">
							<!--
							<h2>Existují 2 způsoby:</h2>

							<br />
							<h5>1) Přesvědčit Formánka</h5>
							<p class="text-justify">
								Jak to myslíme? No, docela jednoduše.
								Napadlo nás, že by DELTA (jakožto škola) mohla mít svůj vlastní
								<a href="https://developer.apple.com/" target="_blank">Apple Developer účet</a>.
								Na tento účet by měli studenti na požádání přístup a mohli ZADARMO vydat vlastní aplikaci na Apple App Store,
								čili veliká výhoda pro studenty.
								Školu by to stálo 99USD (cca. 2 100Kč) za rok za aplikaci, což není tolik v porovnání, že by si to každý studentu platil sám za sebe.
								Logicky by studenti mohli vydávat pouze bezplatné aplikace, protože aplikace by byla vydána pod školou, případné zisky by šly škole a přeposílání peněz by bylo dosti administrativně náročné.
							</p>
							-->
							<h5>Můžete nám darovat peníze</h5>
							<p class="text-justify">
								Logické ne? V žádném případě do tohoto kroku nikoho nenutíme a částečně o to ani nestojíme.
								Tento projekt vytváříme dobrovolně ve svém volném čase, tak ať si to také pořádně „užijeme“, když jsme se tak rozhodli, že?
								Chcete-li i přesto přispět, tak Vám bránit nemůžeme ;-) neváhejte a kontaktujte nás osobně či
								<a href="mailto:admin@zoliky.eu">emailem</a>.
							</p>

							<br />

							Velice Vám děkujeme, že nám chcete pomoci.
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-header" id="headerTwo">
						<h5 class="mb-0">
							<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
								Jak aplikaci získat?
							</button>
						</h5>
					</div>
					<div id="collapseTwo" class="collapse" aria-labelledby="headerTwo" data-parent="#Collapse">
						<div class="card-body">
							Pro její získání běžte za Karlem Koudelkou (3.B).
							<br />
							Nebo mu napiště na
							<a href="https://www.facebook.com/k.koudelka" target="_blank">FB</a>.
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>