<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="%LAUNCHER_PATH%" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" hostingModel="OutOfProcess" arguments="%LAUNCHER_ARGS%">
        <environmentVariables />
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: a71ff2ab-696a-4a77-8df2-2034c38332ea-->