@using System.Web.Mvc.Html
@using ZolikyWeb.Tools
@model ZolikyWeb.Areas.Admin.Models.Admin.SettingsModels.ProjectSettingsModel

<div class="card">
	<div class="card-body">
		<h4 class="card-title">Projekt</h4>
		@using (Html.BeginForm("EditProjects", "Admin", new { Area = "Admin" }, FormMethod.Post)) {
			@Html.AntiForgeryToken()
			<br/>
			<ul class="list-unstyled">
				<li class="media mb-0">
					<div class="media-body row align-items-center">
						<div class="col col-md-9">
							<h5 class="mt-0 mb-1">Registrace</h5>
							<small>Povolit/Zakázat nové registrace.</small>
						</div>
						<div class="col align-self-center">
							@Html.CheckBoxSimple(x => x.RegistrationEnabled, new {@class = "js-switch"})
						</div>
					</div>
				</li>
				@*<li class="media mb-0">
					<div class="media-body row align-items-center">
						<div class="col col-md-9">
							<h5 class="mt-0 mb-1">Budoucí nabídky</h5>
							<small>Přeji si automaticky odebírat budoucí nabídky a novinky.</small>
						</div>
						<div class="col align-self-center">
							@Html.CheckBoxSimple(x => x.FutureNews, new {@class = "js-switch"})
						</div>
					</div>
				</li>*@
			</ul>
			<div class="text-right">
				<button type="submit" class="btn btn-primary">Uložit</button>
			</div>
		}
	</div>
</div>
