@model ZolikyWeb.Areas.Global.Models.Admin.DashboardModel
@{
	ViewBag.Title = "Přehled";
	Layout = "~/Areas/Global/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
	<!-- Column -->
	<div class="col-lg-3 col-md-6">
		@Html.Partial("Partials/_SendMobileNotPartial", Model.SendMobileNot)
	</div>
	<!-- /Column -->
	<!-- Column -->
	<div class="col-lg-3 col-md-6">
		@Html.Partial("Partials/_SendNotificationsPartial", Model.SendNotifications)
	</div>
	<!-- /Column -->
	<!-- Column -->
	<div class="col-xlg-3 col-lg-4 col-md-5">
		<div class="card">
			@Html.Partial("Partials/_Completed")
		</div>
	</div>
	<!-- /Column -->
</div>

