@model IEnumerable<DataAccess.Models.Notification>

@{
	ViewBag.Title = "Upozornění";
	Layout = "~/Areas/App/Views/Shared/_LayoutMenu.cshtml";
}


<div class="row NoSelectAll">
	<div class="col">
		<div class="card">
			<div class="card-body">
				<div class="list-group">
					@foreach (var ent in Model) {
						@Html.Partial("_NotificationPartial", ent)
					}
				</div>
			</div>
		</div>
	</div>
</div>

@section footer {
	<script type="text/javascript">
		$(() => {
			const url = "@Url.Action("NotificationSeen")";
			$(".list-group .notification").mouseenter((event) => {
				let $not = $(event.target);
				let seen = $not.data("seen") === "True";
				if (!seen) {
					let id = $not.data("id");
					$not.data("seen", "True");
					$.ajax({
						type: "POST",
						url: url,
						data: {
							id: id
						},
						success: (data) => {
							if (data === "true") {
								$not.find(".label").remove();
							} else {
								console.log("Vyskytla se chyba");
								$not.data("seen", "False");
							}
						},
						error: () => {
							console.log("Vyskytla se chyba");
							$not.data("seen", "False");
						},
						dataType: "text"
					});
					//console.log($badge);
				}
			});
		});
	</script>

}