@model IEnumerable<DataAccess.Models.Notification>

@{
	ViewBag.Title = "Upozornění";
	Layout = "~/Areas/App/Views/Shared/_LayoutMenu.cshtml";
}


<div class="row NoSelectAll">
	<div class="col">
		<div class="card">
			<div class="card-body">
				<div class="list-group">
					@foreach (var ent in Model) {
						<a class="list-group-item list-group-item-action flex-column align-items-start">
							<div class="d-flex w-100 justify-content-between">
								<h4 class="mb-1">@ent.Title</h4>
								@{
									var diff = (DateTime.Now - ent.Created).Days;
									var date = "Dnes";
									if (diff == 1) {
										date = "Včera";
									} else if (diff > 1) {
										date = $"Před {diff} dny";
									}
								}
								<small class="text-muted">@date</small>
							</div>
							<p class="mb-1">@ent.Subtitle</p>
							@*<small class="text-muted">Donec id elit non mi porta.</small>*@
						</a>
					}
				</div>
			</div>
		</div>
	</div>
</div>