<div class="card-header">
	<div class="card-actions">
		<a class="" data-action="collapse">
			<i class="ti-minus"></i>
		</a>
		<a class="btn-minimize" data-action="expand">
			<i class="mdi mdi-arrow-expand"></i>
		</a>
		<a class="btn-close" data-action="close">
			<i class="ti-close"></i>
		</a>
	</div>
	<h4 class="card-title m-b-0">Dokončené stránky</h4>
</div>
<div class="card-body b-t collapse show">
	<ul>
		<li>Přehled</li>
		<li>
			Žolíky:
			<ul>
				<li>Přehled</li>
				<li>Vytvoření</li>
				<li>Detaily</li>
				<li>Odstranění</li>
			</ul>
		</li>
		<li>
			Studenti:
			<ul>
				<li>Přehled</li>
				<li>Vytvoření</li>
				<li>Detaily</li>
			</ul>
		</li>
		<li>
			Třídy:
			<ul>
				<li>Přehled</li>
				<li>Vytvoření</li>
				<li>Detaily</li>
				<li>Odstranění</li>
			</ul>
		</li>
		<li>
			Předměty:
			<ul>
				<li>Přehled</li>
				<li>Úpravy</li>
			</ul>
		</li>
		<li>Odhlašování</li>
	</ul>
</div>