@using (Html.BeginForm("Logout", "Account", new { Area = "" }, FormMethod.Post, new { id = "logOutForm" })) {
	@Html.AntiForgeryToken()

	<a class="dropdown-item" title="Ohlášení" id="logOutFormSubmit">Odhlásit se</a>
}